body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    margin: 50px auto;
    padding: 30px;
    width: 80%;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.name {
    color: red;
}

.profile {
    font-size: 20px;
}

.profile-img {
    width: 250px;
    margin: 20px auto;
    display: block;   /* 🔥 giúp căn giữa ảnh */
    border-radius: 10px;
}

.info {
    margin-top: 20px;
    font-size: 18px;
}